*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20vh;
    justify-content: space-between ;
}
h1{
    text-transform: uppercase;
    color: rebeccapurple;
    min-width: 100px;
}
button{
    color: white;
    background-color: rebeccapurple;
    border: none;
    padding: 10px 0;
    align-items: center;
    width: 20vw;
    border-radius: 40px;
    cursor: pointer;
    min-width: 100px;

}
input{
    width: 50vw;
    margin-bottom: 20px;
    height: 50px;
    outline: none;
    border: 1px solid rebeccapurple;
}

